<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!-- VENDOR CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/linearicons/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/chartist/css/chartist-custom.css') }}">
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
  <!-- GOOGLE FONTS -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet"> -->
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Javascript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/chartist/js/chartist.min.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/klorofil-common.js') }}"></script>
  <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  <script type="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
  <script type="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<!--   <script>
    $(document).ready(function() {
      var show = document.getElementById("time");
      setInterval(function() {
        var time = new Date();
        // 程序计时的月从0开始取值后+1
        var m = time.getMonth() + 1;
        var t = time.getFullYear() + "-" + m + "-"
        + time.getDate() + " " + time.getHours() + ":"
        + time.getMinutes() + ":" + time.getSeconds();
        show.innerHTML = t;
      }, 1000);
    });
  </script> -->
  <script>var $SCRIPT_ROOT = {{request.script_root|tojson|safe}}</script>
  {% endblock %}
</head>

<body>
  <!-- WRAPPER -->
  <div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="brand">
        <a href="index.html"><img src="{{ url_for('static', filename='img/nex3.png') }}" alt="Klorofil Logo" class="img-responsive logo"></a>
      </div>
      <div class="container-fluid">
        <div class="navbar-btn">
          <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
        </div>
        <div id="navbar-menu">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                <i class="lnr lnr-alarm"></i>
                <span class="badge bg-danger">5</span>
              </a>
              <ul class="dropdown-menu notifications">
                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
                <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
                <li><a href="#" class="more">See all notifications</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">Basic Use</a></li>
                <li><a href="#">Working With Data</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Troubleshooting</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ url_for('static', filename='img/nex5.jpg') }}" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
                <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                <li><a href="{{ url_for('auth.logout') }}"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="sidebar-nav" class="sidebar">
      <div class="sidebar-scroll">
        <nav>
          <ul class="nav">
            <li><a href="{{ url_for('auth.index') }}" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
            <li>
              <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>用例</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
              <div id="subPages" class="collapse ">
                <ul class="nav">
                  <li><a href="{{ url_for('auth.suites') }}" class="">用例集</a></li>
                  <li><a href="{{ url_for('auth.cases') }}" class="">测试用例</a></li>
                  <li><a href="{{ url_for('auth.index') }}" class="">测试报告</a></li>
                  <li><a href="{{ url_for('auth.urls') }}" class="">测试配置</a></li>
                </ul>
              </div>
            </li>
            <li><a href="{{ url_for('auth.index') }}" id='charts' class=""><i class="lnr lnr-chart-bars"></i> <span>报表</span></a></li>
            <li><a href="{{ url_for('auth.index') }}" class=""><i class="lnr lnr-cog"></i> <span>设置</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- END LEFT SIDEBAR -->
    {% block content %}
    {% endblock %}
    <div class="clearfix"></div>
    <div class="container">
      <div class="row" style="padding-top: 60px; clear: both;">
        <div class="col-md-12 text-center"><p><small>&copy; 网易 <a href="http://www.163.com/" target="_blank" title="网易">NEX&易品自动化平台</a> - NEX&易品测试组</a></small></p>
        </div>
      </div>
    </div>
  </div>
  <!-- END WRAPPER -->
</body>
</html>